/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# FORMULAR - GRÜNES I
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
%helptext {
	position: relative !important;
	top: 0;
	left: 0;
	display: block !important;
	color: color(grey, dark);
	background: none;
	border: none !important;
	border-radius: 0 !important;

	width: auto;
	max-width: 90%;
	height: 20px;
	overflow: hidden;

	margin-right: 0;
	margin-top: 10px;
	margin-bottom: 10px;

	padding: 0;

	font-family: $font;
	font-size: fontsize(hint);
	font-weight: normal;
	line-height: 1.1;


	@include transition(all, 0.5s, ease-in-out);
	// @hax
	&::before {
		@include circle(16px);
		content: "i";
		border: 1px solid color(grey, dark);
		display: inline-block;
		margin-right: 10px;
		cursor: pointer;
		@include transition(width, 0.5s, ease-in-out);
	}

	&::after {
		content: "Vergrößern";
		text-transform: uppercase;
		background: color(primary, light);
		color: color(white);
		position: absolute;
		display: none;
		font-size: fontsize(hint);
		top: 0;
		right: 0;
		height: 20px;
		line-height: 20px;
		padding: 0 10px;
		z-index: 9;
		cursor: pointer;
	}

	&:hover {
		&::before {
			background: color(primary, light);
			color: color(white);
		}
		&::after {
			display: block;
		}
	}

	&:active, &:focus {
		
		font-size: fontsize(body);
		padding: 20px 10px;
		padding-left: 40px;
		overflow: visible;
		white-space: normal;
		position: absolute;
		height: auto;
		border: 1px solid color(support, dark) !important;
		border-radius: 0;
		color: color(black);
		

		&::before {
			@include circle(28px);
			border: none;
			background: color(primary, light);
			color: color(white);
			position: absolute;
			left: 5px;
			top: 0;
			bottom: 0;
			margin: auto 0;
		}
		&::after {
			display: none;

		}
	}
}*/

.helptextContainer {

	position: absolute;
	display: block;
	right: 20px;

	img.hintIcon {
		position: absolute;
		opacity: 0;
		width: 20px;
		height: 20px;
		z-index: 2 !important;
	}

	&::before {
		@extend %infoIcon;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		margin: 0;
	}

	.helpText {
		@extend %helpText;
		right: -5px !important;
		top: -10px !important;
		z-index: 99999999 !important;
		pointer-events: none;
		width: 100% !important;

	}
}

/*
.bfHelpText {
	@extend %helptext;
} */


