/*----------------------------------------------------------------------------------
# ADRESSSUCHE
----------------------------------------------------------------------------------*/
.xfAddressSearchControl {
	
	position: relative;

	img {
		position: absolute;
		right: 5px;
		bottom: 10px;
		z-index: 1;
	}

	.xfAddressSearch {
		font-family: $font;
		font-size: fontsize(body);
		padding: 10px 0;
		border: none !important;
		border-bottom: 2px solid color(grey, dark) !important;
		width: 100%;
		
	}
	
	.suggestionBox {
		font-family: $font;
		font-size: fontsize(body);
		font-weight: normal;

		.suggestion {
			padding: 10px !important;
			cursor: pointer !important;

			&:hover {
				background: color(primary, light) !important;
			}
		}

	}
	input.xfAddressSearch:focus ~ .suggestionBox {
		@include box-shadow(0px, 2px, 3px, 1px, color(grey, dark));
	}
}