/*----------------------------------------------------------------------------------
# STANDARDGRUPPEN
----------------------------------------------------------------------------------*/
.xfFullGroup:not(.formContentBody), .xfMpuAddressBlock, .xfMpuPersonBlock {
	@include box-shadow(1px, 1px, 3px, 1px, color(grey, dark));
    padding: 10px;
	background: color(white);
	margin-bottom: 30px;

	.xfFullGroup, .xfMpuAddressBlock, .xfMpuPersonBlock {
		// Gruppe in Gruppe - kein BoxShadow
		@include box-shadow(0,0,0,0,white);
	}

	.groupTitle {
		font-size: fontsize(title);
		line-height: 1.1 !important;
		background: none !important;
		border-left: 4px solid color(primary, light) !important;
		padding-left: 10px !important;
		font-weight: bold !important;
		font-family: $font;
	}

}

/*----------------------------------------------------------------------------------
# ZUSAMMENFASSUNGSSEITE
----------------------------------------------------------------------------------*/
.summaryPageContent {
	@extend %default;

	> .xfFullGroup {
		padding: 0;

		.xfGroupLabel.pageTitle {
			background: color(grey, light);
			font-family: $font;
			font-size: fontsize(h2);
			padding: 20px 10px;
			margin: 0;
			margin-bottom: 15px;
			width: 100%;
			box-sizing: border-box;
		}
	}

	// ANZEIGE DER WERTE
	.xfControl {
		padding-left: 10px;

		.xfLabel {
			display: block;
			width: 100%;
			margin-bottom: 5px;
			text-align: left;
			font-weight: bold;

			&::after {
				font-size: fontsize(body);
				font-family: $font;
				line-height: 1.2;
			}
		}
		.xfValue.readOnlyOutputText {
			font-family: $font;
			font-size: fontsize(body);
			line-height: 1.2;
			display: block;
			width: 100%;
			padding: 0;
		}
	}
	
}
