/*----------------------------------------------------------------------------------
# UPLOAD
----------------------------------------------------------------------------------*/

.xfUpload.xfControl {
	
	.labelContainer {
		margin-bottom: 55px !important;
		
		label {
			&::before {
				@extend %button;
				content: "Datei wählen";
				position: absolute;
				top: calc(100% + 10px);
				left: 0;
				cursor: pointer;
				z-index: 10;
			}
		}
	}
	
	.widgetContainer {
		
		.uploadContainer {
			

			.upload input {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}

			.uploadedFile {
				display: block;
				width: 100%;
				

				.xfValue {
					font-size: fontsize(body);
					font-family: $font;
				}
			}
		}

		

	}
}